body {
    background-image: url(../imagenes/fondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: rgb(15, 14, 13);
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh; 
}