main {
    h1 {
        font-size: 70px;
    }
    h2 {
        font-size: 40px;
    }

    .centrar {
        padding: 100px;
        text-align: center;
    }

    .carousel-inner {
        max-height: 25rem;
    }
}