main {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
    }
    .centrar {
        margin: 10%;
        padding: 50px;
        text-align: center;
        background-color: $color-fondo-secundario;
        opacity: 70%;
    }

    .carousel-inner {
        max-height: 25rem;
    }
}